.orderNow{
    width:200px;
    height:60px;
    font-family:SimHei;
    font-size:25pt;
    background-color:red;
    color:white;
}
.orderNow:hover{
    width:200px;
    height:60px;
    font-family:SimHei;
    font-size:25pt;
}