
.checkboxStyle{
    width:20px;
    height:20px;
    margin:15px 10px;
}
.fontStyle{
    font-size:16pt;
}
.typeStyle{
    font-size:20pt;
    font-family:Microsoft YaHei;
}
.alignStyle{
    vertical-align:middle;
}
.searchType{
    width:500px;
    font-family:SimHei;
}
.img-style{
    margin:35px;
    height:125px;
    width:200px;
}
.row{
    min-width:280px;
}
h6{
    font-size:11pt;
}
h2{
    font-size:20pt;
    margin:20px;
}