/* CSS Document */
.product{
	height: 250px;
	min-width: 1200px;
	padding-left: 0px;
	border:0
}
.themed-grid-col{
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	max-width: 400px;
}
.head-title{
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}
.head-title-name{
	padding-left: 0px;
	padding-right: 0px;
	min-width: 600px;
}
.table-head{
	text-align: center;
	font-size: 20px;
	font-style: oblique;
	padding-top: 20px;
	border: thick;
	padding-right: 0px;
}
.price{
	text-align: center;
	font-size: 20px;
	margin-top: 75px;
	padding-top:25px;
}
.img-cart{
	height: 200px;
	width: 200px;
	align-content: space-around;
	padding:25px
}
.descripe{
	font-family: SimHei;
	margin-top: 75px;
	padding: 25px;
	font-size: 20px;
	align-content: center;
}
.table-content{
	text-align: center;
	margin-top:75px;
	padding-top: 25px;
}
.input-number{
	text-align: center;
}