/* CSS Document */
.product{
	height: 250px;
	min-width: 1200px;
}
.table th{
	text-align: center;
	font-size: 20px;
}
.table td img{
	height: 200px;
	width: 200px;
}
.table td{
	text-align: center;
	vertical-align:middle;
	font-size:14pt;
	font-family:Times New Roman,Microsoft YaHei;
}
.del:hover{
	color:red;
	cursor:pointer;
}
.table input{
    text-align:center;
}