<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.xeonwang.tmxk.dao.AuthorMapper">
	<insert id = "AddAuthor">
		INSERET INTO AUTHOR(authorid,authorname)
		Values(#{AuthorId},#{AuthorName})	
	</insert>
	
	<update id="UpdateName">
	update AUTHOR
	SET authorname = #{AuthorName} 
	WHERE authorid = #{AuthorId}
	</update>
	
	<delete id="DropAuthor">
	DELETE FROM AUTHOR	
	WHERE Authorid = #{AuthorId}
	</delete>

</mapper>