<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.xeonwang.tmxk.dao.OrderMapper">
	<insert id="AddOrder">
		INSERET INTO
		tmxk.ORDERINF(orderid,ordertime,orderstatus)
		Values(#{OrderId},#{OrderTime},#{OrderStatus})
	</insert>

	<update id="UpdateStatus">
		update tmxk.ORDERINF
		SET orderstatus = #{OrderStatus}
		WHERE orderid = #{OrderId}
	</update>

	<delete id="Droporder">
		DELETE FROM tmxk.ORDERINF
		WHERE orderid = #{OrderId}
	</delete>

	<select id="GetStutas">
		SELECT orderstatus FROM txmk.ORDERINF WHERE orderid = #{OrderId}
	</select>

	<select id="GetTime">
		SELECT ordertime FROM txmk.ORDERINF WHERE orderid = #{OrderId}
	</select>

</mapper>